@media (max-width: 1400px){
    .gallery {
        margin-top: 30px;
    }
}

@media (max-width: 1130px){
    .nav-ul {
        display: none;
    }
    .burger-icon{
        color: white;
        display: block;
        font-size: 30px;
        position: absolute;
        top: 50px;
        right: 30px;
        cursor:pointer;
      }
}
@media (max-width: 650px){
    .right-block-main-title {
        font-size: 35px;
    }
    .left-block {
        margin-top: 50px;
    }
    .register {
        display: none;
    }
}