@media (max-width: 1130px){
    .wrapper, 
    ul{
      display: block;
    }   
    .nav-a{
      display: block;
      outline: none;
    }  
    .burger-icon{
      color: #fff;
      display: block;
      font-size: 30px;
      position: absolute;
      top: 40px;
      right: 30px;
      cursor:pointer;
    }
    .menu-ul{
      display: none;
    }   
    .menu-ul.open-menu{
      display: block;
    } 
    .dives {
        margin-top: 50px;
    }
    .register {
        display: none;
    }
    .prj-block {
        margin-top: 20px;
    }
    .sessionReg {
        display: block;
        margin-bottom: 10px;
    }
}
@media (max-width: 950px){
    .footer-email-block {
        margin-top: 30px;
    }
}
@media (max-width: 650px){
    .right-block-main-title {
        font-size: 35px;
    }
    .course-fee-answers,
    .faq-questions {
        font-size: 15px;
    }
    .faq-block {
        margin-top: 30px;
    }
}
@media (max-width: 535px){
    .helpf-links {
        margin-top: 20px;
        margin-bottom: 15px;
    }
}
@media (max-width: 410px){
    .work-design:hover {
        -ms-transform: scale(1.1); /* IE 9 */
        -webkit-transform: scale(1.1); /* Safari 3-8 */
        transform: scale(1.0);
    }
}
@media (max-width: 410px){
    .helpf-links {
        margin-top: 30px;
    }
}