@media (max-width: 1400px){
    .gallery {
        margin-top: 30px;
    }
    .reg-img {
        margin-top: 20px;
    }
}
@media (max-width: 1234px){ 
    .course-fee-left-block {
        margin-top: 30px;
    }
}
@media (max-width: 1130px){
    .wrapper, 
    ul{
      display: block;
      text-align: center;
    }   
    .nav-a{
      display: block;
      outline: none;
    }  
    .burger-icon{
      color: #fff;
      display: block;
      font-size: 30px;
      position: absolute;
      top: 40px;
      right: 30px;
      cursor:pointer;
    }
    .menu-ul{
      display: none;
    }   
    .menu-ul.open-menu{
      display: block;
    } 
    .dives {
        margin-top: 50px;
    }
    .register {
        display: none;
    }
    .prj-block {
        margin-top: 20px;
    }
}
@media (max-width: 950px){
    .footer-email-block {
        margin-top: 30px;
    }
}
@media (max-width: 804px){
    .registration-image {
        margin-top: 20px;
    }
}
@media (max-width: 650px){
    .right-block-main-title {
        font-size: 35px;
    }
    .left-block {
        margin-top: 50px;
    }
    .course-fee-answers,
    .faq-questions {
        font-size: 15px;
    }
    .page,
    .faq-block {
        margin-top: 30px;
    }
    .gallery-cell {
        margin-top: 100px;
    }
}
@media (max-width: 410px){
    .helpf-links {
        margin-top: 30px;
    }
}