html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}
body {
    background-color: darkblue;
}
/* header */
.burger-icon {
    display: none;
}
.header-bg {
    background-image: url(../images/photo-1620121692029-d088224ddc74.jpg);
    max-width: 1500px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    margin: auto;
}
.header-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    backdrop-filter: blur(8px);
    /* background-color: black; */
    width: 100%;
    height: auto;
    padding: 10px;
}
.nav-ul {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    padding-left: 40px;
}
.nav-a {
    margin-left: 30px;
    color: white;
    font-family: 'Peddana', serif;
    font-size: 25px;
    white-space: nowrap;
    font-weight: bolder;
    cursor: pointer;
    outline: 2px solid;
    outline-color: black(98, 100, 105, 0.5);
    outline-offset: 5px;
    transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
}
.nav-a:hover {
    outline-offset: 15px;
    color: black;
}
.logo {
    margin-top: 15px;
}
.burger-icon {
    display: none;
}

.register:hover {
    color: white;
}
.registera {
    color: white;
}
.register {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    position: relative;
    transition-property: color;
    transition-duration: 0.3s;
    margin-left: 0px;
}
.register::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(13, 35, 133);
  border-radius: 31px;
  transform: scaleX(0);
  transform-origin: 100% 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.register:hover, .register:focus, .register:active {
    color: white;
}
.register:hover:before, .register:focus:before, .register:active:before {
    transform: scaleX(1);
}
.register,
.page {
    max-width: 150px;
    width: 100%;
    height: 51px;
    border-radius: 31px;
    border: none;
    background-color: black;
    margin-top: 15px;
    padding: 15px 45px;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.main-block {
    max-width: 1060px;
    width: 100%;
    height: auto;
    border-radius: 30px;
    margin: auto;
    flex-wrap: wrap;
    padding-top: 200px;
    padding-bottom: 200px;
}
.right-block-main-title {
    font-size: 60px;
    font-family: 'PT Serif', serif;
}
.right-block-second-title {
    color: white;
    font-size: 38px;
    font-family: 'PT Serif', serif;
}
.titles-on-header {
    margin: 50px auto;
}
.main-block-paragraph {
    font-size: 23px;
    font-family: 'PT Serif', serif;
    margin-top: 60px;
    font-weight: bolder;
}
.main-block-paragraph-div {
    max-width: 500px;
    width: 100%;
    height: auto;
    margin: auto;
}
.learn-more-div {
    max-width: 200px;
    width: 100%;
    height: auto;
    background-color: black;
    border-radius: 20px;
    padding: 20px 40px;
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    position: relative;
    transition-property: color;
    transition-duration: 0.3s;
    margin: 50px auto;
}
.learn-more-div::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(13, 35, 133);
    border-radius: 20px;
    transform: scaleX(0);
    transform-origin: 100% 50%;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}
.learn-more-div:hover, .learn-more-div:focus, .learn-more-div:active {
    color: white;
}
.learn-more-div:hover:before, .learn-more-div:focus:before, .learn-more-div:active:before {
    transform: scaleX(1);
} 
.learn-more {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
    white-space: nowrap;
}
.left-photo,
.project-photo,
.faq-photo,
.experi-ph,
.about-us-photo,
.reg-img {
    width: 100%;
}
/* section 1 */
.project-block {
    background-image: url(../images/f34b8a4657542b645c89f9a786771373.jpg);
    max-width: 1500px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    margin: 20px auto;
    flex-wrap: wrap;
    padding: 50px;
}
.two-project-block {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.project-blocks {
    max-width: 650px;
    width: 100%;
    height: 579px;
    margin-top: 100px;
}
.project-head-photo,
.faq-photo-div {
    max-width: 450px;
    width: 100%;
    height: 159px;
    margin: auto;
}
.design-to-do-list {
    font-size: 38px;
    font-family: 'Roboto', sans-serif;
    color: white;
}
.the-previous-student {
    font-size: 20px;
    margin-top: 30px;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.correct-list {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    color: white;
}
.fa-check-circle {
    color: #29D089;
}
.gallery-cell {
    max-width: 500px;
    width: 100%;
    height: 500px;
    margin-right: 10px;
}
.page {
    transition: all 0.5s;
    cursor: pointer;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.page:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 14px;
    right: -20px;
    transition: 0.5s;
} 
.page:hover{
    padding-right: 24px;
    padding-left:8px;
}
.page:hover:after {
    opacity: 1;
    right: 10px;
}

/* section 2 */
.asked-questions-block {
    background-image: url(../images/d3eb2014c38294c63429d6890683fedc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1500px;
    width: 100%;
    height: 100%;
    padding: 50px;
    margin: 20px auto;
    border-radius: 30px;
}
.faq-titles {
    margin: auto;
}
.faq-title {
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
}
.questions-block {
    margin-top: 100px;
}
.faq-block {
    max-width: 1160px;
    width: 100%;
    height: auto;
    background-color: black;
    margin-top: 20px;
    padding: 20px 15px;
    border-radius: 50px;
    border: 3px solid black;
    color: white;
}
.faq-questions {
    font-size: 21px;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    background: transparent;
    text-transform: uppercase;
    transition: all .35s;
}
.faq-questions:before,
.faq-questions:after{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  background: seagreen;
  z-index: -1;
  transition: all .35s;
}

.faq-block:before{
  opacity: .5;
}

.faq-block:after{
  transition-delay: .2s;
}

.faq-block:hover{
  color: #F46632;
}

.faq-block:hover:before,
.faq-block:hover:after{
  top: 0;
}

/* section 3 */
.masters-section {
    background-image: url(../images/4e055a0dfdf79536824948313c4dd710.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1500px;
    width: 100%;
    height: 100%;
    padding: 20px;
    margin: 20px auto;
    border-radius: 30px;
}
.masters-blocks {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    height: auto;
}
.master-block {
    max-width: 250px;
    width: 100%;
    height: auto;
    margin-left: 35px;
    position: relative;
}
.master {
    border-radius: 10px;
}
.masters-title {
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
    color: white;
}
.master-name {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin: 20px auto;
    color: white;
}
.master-name:hover, .master-role:hover {
    color: #F46632;
}
.master-role {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
    color: white;
}
.container {
    position: relative;
    max-width: 250px;
    width: 100%;
    height: auto;
}
.image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 20px;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #F46632;
    border-radius: 20px;
}
.container:hover .overlay {
    opacity: 1;
}
.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
}
.facebook,
.twitter {
    color: black;
    font-size: 40px;
    margin-left: 10px;
}
.instagram {
    font-size: 40px;
    color: black;
    margin-left: 10px;
}

/* section 4 */

.classes-main-block {
    width: 100%;
    height: 100%;
    padding: 50px;
    margin-top: 20px;
}
.session {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: black;
    width: 100%;
    height: auto;
    padding-top: 20px;
}
.photo-and-paragraph {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    flex-wrap: wrap;
    align-items: center;
}
.session-paragraph {
    max-width: 885px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    line-height: 2;
    margin: auto;
}
.dates {
    color: white;
    font-family: 'Roboto', sans-serif;
}
.dates:hover {
    color: #F46632;
}

/* section 5 */
.experience-block {
    background-image: url(../images/photo-1519219788971-8d9797e0928e.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px;
    margin-top: 80px;
}
.dives {
    max-width: 360px;
    width: 100%;
    height: auto;
    border-radius: 30px;
    border: black solid 5px;
    padding: 30px 80px;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
    margin: 50px;
}
.dives:hover {
    background-color: #F46632;
    border-color: #F46632;
}
.three-div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
}
.experience-title {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    margin-top: 20px;
}
.exp-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px;
    margin-left: 50px;
}
.exp-p {
    max-width: 770px;
    width: 100%;
    height: auto;
    font-family: 'Roboto', sans-serif;
    line-height: 2;
    margin-top: 50px;
}
.exp-photo {
    max-width: 243px;
    width: 100%;
    height: 268px;
}

/* section 6 */
.about-us-block {
    /* background-image: url(../images/photo-1520032484190-e5ef81d87978.jpg); */
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    margin-top: 20px;
}
.about-top-block {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1220px;
    width: 100%;
    height: auto;
    margin: auto;
}
.active {
    margin-top: 20px;
}
.about-paragraph {
    font-family: 'Roboto', sans-serif;
    line-height: 2;
    color: white;
}
.about-paragraph:hover {
    color: #F46632;
}
.about-us {
    font-family: 'Roboto', sans-serif;
    font-size: 42px;
}
.about-us:hover,
.twitter:hover,
.facebook:hover,
.instagram:hover {
    color: white;
}
.about-paragraph-div {
    max-width: 1500px;
    width: 100%;
    height: auto;
    margin: 50px auto;
    background-color: black;
    border-radius: 31px;
    padding: 20px 45px;
}

/* section 7 */
.course-fee-block {
    background-image: url(../images/photo-1448932223592-d1fc686e76ea.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px;
    margin-top: 20px;
}
.course-fee-blocks {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 80px;
    margin-bottom: 50px;
}
.course-fee-right-block {
    max-width: 701px;
    width: 100%;
    height: auto;
}
.course-fee-title {
    font-size: 44px;
    font-family: 'Roboto', sans-serif;
    margin-left: 50px;
}
.course-fee-question {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px;
}
.course-fee-li {
    max-width: 720px;
    width: 100%;
    height: auto;
    background-color: black;
    padding: 15px 30px;
    margin-top: 20px;
    border-radius: 30px;
}
.course-fee-answers {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    color: white;
}
.course-fee-li:hover,
.course-fee-answers:hover {
    background-color: #F46632;
    color: black;
}
.course-fee-left-block {
    max-width: 374px;
    width: 100%;
    height: auto;
    background-color: black;
    border-radius: 30px;
}
.fee-toman {
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-top: 50px;
    margin-left: 20px;
}
.registration-titles {
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
}
.reg-titles-block {
    margin: 30px 50px;
}
.register-click {
    max-width: 150px;
    width: 100%;
    height: auto;
    background-color: #F46632;
    border-radius: 30px;
    padding: 15px 30px;
    margin: 50px auto;
    white-space: nowrap;
}
.register-click:hover,
.register-now:hover {
    background-color: white;
    color: #F46632;
}
.register-now {
    font-family: 'Roboto', sans-serif;
    color: white;
}

/* section 8 */
.registration-block {
    background-color: black;
    width: 100%;
    height: 100%;
    padding: 80px;
    margin-top: 20px;
}
.registration-main-block {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 50px;
}

.fname {
    max-width: 557px;
    width: 100%;
    height: 62px;
    border-radius: 30px;
    background-color: #707070;
    border: none;
    font-size: 20px;
    padding-left: 20px;
    margin-top: 20px;
}
.form-text {
    margin-left: 10px;
}
.registration-forms {
    max-width: 721px;
    width: 100%;
    height: auto;
}
.form-text {
    color: white;
    font-family: 'Roboto', sans-serif;
}
.submit {
    max-width: 557px;
    width: 100%;
    height: 62px;
    background-color: #F46632;
    border-radius: 30px;
    border: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
.submit:hover {
    background-color: white;
    color: black;
}
input:focus {
	outline: none;
}
.registration-image {
    max-width: 521px;
    width: 100%;
    height: auto;
}

/* footer */
.footer-block {
    background-color: black;
    width: 100%;
    height: auto;
    margin-top: 100px;
    padding: 50px 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.social-icons-block {
    display: flex;
}
.call-number,
.footer-li,
.footer-social {
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-top: 15px;
}
.contact-us {
    color: #F46632;
    font-family: 'Roboto', sans-serif;
}
.footer-mail,
.footer-submit {
    max-width: 300px;
    width: 100%;
    height: 50px;
}
.footer-social-icons {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}