.background {
    background-color: #1C213E;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: space-around;
}
.READER {
    font-family: 'Girassol', cursive;
    color: white;
    font-size: 45px;
}
.nav-ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.nav-li {
    color: #9098D8;
    margin-left: 20px;
}