html {
    scroll-behavior: smooth;
    -ms-scroll-snap-type: y mandatory;
        scroll-snap-type: y mandatory;
}
body {
    background-color: #0C0F32;
}
/* header */
.burger-icon {
    display: none;
}
.header-bg {
    background-image: url(../images/photo-1620121692029-d088224ddc74.jpg);
    max-width: 1500px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    margin: auto;
}
.header-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
    width: 100%;
    height: auto;
    padding: 10px;
}
.nav-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 15px;
    padding-left: 40px;
}
.nav-a {
    margin-left: 30px;
    color: white;
    font-family: 'Peddana', serif;
    font-size: 25px;
    white-space: nowrap;
    font-weight: bolder;
    cursor: pointer;
    outline: 2px solid;
    outline-color: black(98, 100, 105, 0.5);
    outline-offset: 5px;
    -webkit-transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
    -o-transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
    transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
}
.nav-a:hover {
    outline-offset: 15px;
    color: black;
}
.logo {
    margin-top: 15px;
}
.burger-icon {
    display: none;
}
.register:hover {
    color: white;
}
.registera {
    color: white;
}
.register {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    position: relative;
    -webkit-transition-property: color;
    -o-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    margin-left: 0px;
}
.register::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(13, 35, 133);
  border-radius: 31px;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
      -ms-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}
.register:hover, .register:focus, .register:active {
    color: white;
}
.register:hover:before, .register:focus:before, .register:active:before {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
}
.register {
    max-width: 150px;
    width: 100%;
    height: 51px;
    border-radius: 31px;
    border: none;
    background-color: black;
    margin-top: 15px;
    padding: 15px 45px;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.main-block {
    max-width: 1060px;
    width: 100%;
    height: auto;
    border-radius: 30px;
    margin: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 200px;
    padding-bottom: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.lottie {
      max-width: 500px; 
      width: 100%;
      height: 500px;
}
.right-block-main-title {
    font-size: 60px;
    font-family: 'PT Serif', serif;
}
.right-block-second-title {
    color: white;
    font-size: 38px;
    font-family: 'PT Serif', serif;
}
.titles-on-header {
    margin: 50px auto;
}
.learn-more-div {
    max-width: 200px;
    width: 100%;
    height: auto;
    background-color: black;
    border-radius: 20px;
    padding: 20px 40px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    position: relative;
    -webkit-transition-property: color;
    -o-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    margin: 80px auto;
}
.learn-more-div::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(13, 35, 133);
    border-radius: 20px;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 100% 50%;
        -ms-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
         -o-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
}
.learn-more-div:hover, .learn-more-div:focus, .learn-more-div:active {
    color: white;
}
.learn-more-div:hover:before, .learn-more-div:focus:before, .learn-more-div:active:before {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
} 
.learn-more {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
    white-space: nowrap;
}
.left-photo,
.project-photo,
.faq-photo,
.experi-ph,
.about-us-photo,
.reg-img,
.image {
    width: 100%;
}
/* section 1 */
.project-block {
    background-image: url(../images/f34b8a4657542b645c89f9a786771373.jpg);
    max-width: 1500px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    margin: 20px auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 50px;
}
.project-blocks {
    max-width: 1150px;
    width: 100%;
    height: auto;
    margin: 100px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.project-titles {
    margin: auto;
}
.design-to-do-list {
    font-size: 38px;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-top: 50px;
}
.correct-list {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    margin-left: 10px;
    color: white;margin-bottom: 30px;
}
.prj-block1 {
    max-width: 370px;
    width: 100%;
    height: 450px;
    background-color: #C66B0E;
    border-radius: 30px;
    margin-bottom: 20px;
    padding: 10px;
}
.prj-block2{
    max-width: 370px;
    width: 100%;
    height: 450px;
    background-color: #05534F;
    border-radius: 30px;
    margin-bottom: 20px;
    padding: 10px;
}
.prj-block3 {
    max-width: 370px;
    width: 100%;
    height: 450px;
    background-color: #5A21DF;
    border-radius: 30px;
    margin-bottom: 20px;
    padding: 10px;
}
.prj-block4 {
    max-width: 370px;
    width: 100%;
    height: 450px;
    background-color: #1361B9;
    border-radius: 30px;
    margin-bottom: 20px;
    padding: 10px;
}
.prj-block5 {
    max-width: 370px;
    width: 100%;
    height: 450px;
    background-color: #A5A2F6;
    border-radius: 30px;
    margin-bottom: 20px;
    padding: 10px;
}
.prj-block6 {
    max-width: 370px;
    width: 100%;
    height: 450px;
    background-color: #AC0D17;
    border-radius: 30px;
    padding: 10px;
}
.project-blocks-photos {
    max-width: 100px;
    width: 100%;
    margin: 20px auto;
}
.read-more {
    max-width: 130px;
    width: 100%;
    height: 45px;
    background-color: white;
    border-color: white;
    border-radius: 30px;
    padding: 12px 30px;
    margin: 50px auto;
    font-family: 'Roboto', sans-serif;
    white-space: nowrap;
}
/* carousel */
.carousel {
    margin-left: 15%;
    margin-right: 15%;
}
ul.slides {
    display: block;
    position: relative;
    height: 600px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}
.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}
ul.slides input {
    display: none; 
}
.slide-container { 
    display: block; 
}
.slide-image {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    -webkit-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
}   
.slide-image img {
    width: auto;
    min-width: 100%;
    height: 100%;
}
.carousel-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    font-size: 100px;
    line-height: 600px;
    color: #fff;
}
.carousel-controls label {
    display: none;
    position: absolute;
    padding: 0 20px;
    opacity: 0;
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    cursor: pointer;
}
.slide-image:hover + .carousel-controls label{
    opacity: 0.5;
}
.carousel-controls label:hover {
    opacity: 1;
}
.carousel-controls .prev-slide {
    width: 49%;
    text-align: left;
    left: 0;
}
.carousel-controls .next-slide {
    width: 49%;
    text-align: right;
    right: 0;
}
.carousel-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 999;
    text-align: center;
}
.carousel-dots .carousel-dot {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.5;
    margin: 10px;
}
input:checked + .slide-container .slide-image {
    opacity: 1;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}
input:checked + .slide-container .carousel-controls label {
     display: block; 
}
input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3,
input#img-4:checked ~ .carousel-dots label#img-dot-4,
input#img-5:checked ~ .carousel-dots label#img-dot-5,
input#img-6:checked ~ .carousel-dots label#img-dot-6 {
	opacity: 1;
}
input:checked + .slide-container .nav label { display: block; }
/* section 2 */
.asked-questions-block {
    background-image: url(../images/d3eb2014c38294c63429d6890683fedc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1500px;
    width: 100%;
    height: 100%;
    padding: 30px;
    margin: 20px auto;
    border-radius: 30px;
}
.titleandlottie {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.lottie2 {
    max-width: 300px;
    width: 100%;
    height: 300px;
}
@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");
.faq-container {
  max-width: 600px;
  margin: 0 auto;
}
.faq {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px;
  margin: 20px 0;
  padding: 30px;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.3 ease;
  -o-transition: 0.3 ease;
  transition: 0.3 ease;
}
.faq.active {
  background-color: #fff;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}
.faq.active::before,
.faq.active::after {
  content: "\f075";
  font-family: "Font Awesome 5 Free";
  color: #2ecc71;
  font-size: 7rem;
  position: absolute;
  opacity: 0.2;
  top: 20px;
  left: 20px;
  z-index: 0;
}
.faq.active::before {
  color: #3498db;
  top: -10px;
  left: -30px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.faq-title {
  margin: 0 35px 0 0;
  color: white;
  font-family: 'Roboto', sans-serif;
}
.faq-text {
  display: none;
  margin: 30px 0 0;
  font-family: 'Roboto', sans-serif;
}
.faq.active .faq-text {
  display: block;
}
.faq-toggle {
  background-color: rgb(29, 19, 161);
  color: white;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  padding: 0;
  position: absolute;
  top: 30px;
  right: 30px;
  height: 30px;
  width: 30px;
}
.faq-toggle:focus {
  outline: 0;
}
.faq-toggle .fa-times {
  display: none;
}
.faq.active .faq-toggle .fa-times {
  color: #fff;
  display: block;
}
.faq.active .faq-toggle .fa-chevron-down {
  display: none;
}
.faq.active .faq-toggle {
  background-color: #3621aa;
}
/* section 3 */
.masters-section {
    background-image: url(../images/abstract-technological-background_23-2148897676.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1500px;
    width: 100%;
    height: 100%;
    padding: 20px;
    margin: 20px auto;
    border-radius: 30px;
}
.masters-blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
}
.master-block {
    max-width: 250px;
    width: 100%;
    height: auto;
    margin-left: 35px;
    position: relative;
}
.masters-title {
    margin-top: 50px;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
    color: white;
}
.master-name {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin: 20px auto;
    color: white;
}
.master-name:hover, .master-role:hover {
    color: black;
}
.master-role {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
    color: white;
}
.container {
    position: relative;
    max-width: 250px;
    width: 100%;
    height: auto;
}
.image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 30px;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: #0C0F32;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
    border-radius: 20px;
}
.container:hover .overlay {
    opacity: 1;
}
.text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.facebook,
.twitter {
    color: white;
    font-size: 40px;
    margin-left: 10px;
}
.instagram {
    font-size: 40px;
    color: white;
    margin-left: 10px;
}
/* section 5 */
.experience-block {
    background-image: url(../images/d3eb2014c38294c63429d6890683fedc.jpg);
    max-width: 1500px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    margin: 20px auto;
    border-radius: 30px;
}
.dives {
    max-width: 360px;
    width: 100%;
    height: auto;
    border-radius: 30px;
    padding: 40px;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 50px;
}
.div1 {
    background-color: #05534F;
}
.div2 {
    background-color: #5A21DF;
}
.div3{
    background-color: #1361B9;
}
.dives:hover {
    background-color: black;
    border-color: black;
}
.three-div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.experience-title {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    margin-top: 40px;
    color: white;
}
.exp-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px;
}
.exp-p {
    max-width: 600px;
    height: auto;
    font-family: 'Roboto', sans-serif;
    line-height: 2;
    margin-top: 50px;
    margin-bottom: 30px;
    color: white;
    background-color: rgb(14, 1, 63);
    border-radius: 30px;
    padding: 20px;
}
.exp-photo {
    max-width: 443px;
    width: 100%;
    height: 268px;
    margin-bottom: 20px;
}
/* section 6 */
.about-us-block {
    background-image: url(../images/f31e57d377e635a5345673ae81caebcb.jpg);
    max-width: 1500px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px auto;
    border-radius: 30px;
}
.about-top-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1220px;
    width: 100%;
    height: auto;
    margin: auto;
}
.active {
    margin-top: 20px;
}
.about-paragraph {
    font-family: 'Roboto', sans-serif;
    line-height: 2;
    color: white;
}
.about-paragraph:hover {
    color: black;
}
.about-us {
    font-family: 'Roboto', sans-serif;
    font-size: 42px;
    color: white;
    margin: 30px;
}
.about-us:hover,
.twitter:hover,
.facebook:hover,
.instagram:hover {
    color: #1361B9;
}
.about-paragraph-div {
    max-width: 1000px;
    width: 100%;
    height: auto;
    margin: 50px auto;
    background-color: rgb(18, 2, 90);
    border-radius: 31px;
    padding: 40px;
}
/* section 7 */
.course-fee-block {
    background-image: url(../images/halftone-background-with-circles_23-2148907689.jpg);
    max-width: 1500px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px;
    margin: 20px auto;
    border-radius: 30px;
}
.course-fee-blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 80px;
    margin-bottom: 50px;
}
.course-fee-right-block {
    max-width: 701px;
    width: 100%;
    height: auto;
}
.course-fee-title {
    font-size: 44px;
    font-family: 'Roboto', sans-serif;
    margin-left: 50px;
    color: white;
}
.course-fee-question {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px;
    color: white;
}
.course-fee-li {
    max-width: 720px;
    width: 100%;
    height: auto;
    background-color: rgb(16, 2, 65);
    padding: 15px 30px;
    margin-top: 20px;
    border-radius: 30px;
}
.course-fee-answers {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    color: white;
}
.course-fee-li:hover,
.course-fee-answers:hover {
    background-color: white;
    color: black;
}
.course-fee-left-block {
    max-width: 500px;
    width: 100%;
    height: auto;
    background-color: rgb(16, 2, 65);
    border-radius: 30px;
    padding: 20px;
}
.fee-toman {
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-top: 50px;
    margin-left: 20px;
}
.registration-titles {
    color: white;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
}
.lottie3 {
    max-width: 500px;
    width: 100%;
    height: 500px;
}
/* section 8 */
.registration-block {
    background-image: url(../images/gradient-style-network-connection-background_23-2148879891.jpg);
    max-width: 1500px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    margin: 20px auto;
    border-radius: 30px;
}
.registration-main-block {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.fname {
    max-width: 557px;
    width: 100%;
    height: 62px;
    border-radius: 30px;
    background-color: rgb(214, 210, 221);
    border: none;
    font-size: 20px;
    padding-left: 20px;
    margin-top: 20px;
}
.form-text {
    margin-left: 10px;
}
.registration-forms {
    max-width: 721px;
    width: 100%;
    height: auto;
}
.form-text {
    color: white;
    font-family: 'Roboto', sans-serif;
}
.submit {
    max-width: 557px;
    width: 100%;
    height: 62px;
    background-color: black;
    border-radius: 30px;
    border: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
.submit:hover {
    background-color: rgb(7, 16, 122);
}
input:focus {
	outline: none;
}
.registration-image {
    max-width: 521px;
    width: 100%;
    height: auto;
    margin-top: 20px;
}
.reg-img {
    border-radius: 72% 28% 63% 37% / 61% 66% 34% 39%;
    margin-top: 20px;
}
/* footer */
.footer-block {
    background-color: rgb(6, 6, 68);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    margin:20px auto;
    padding: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.social-icons-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.call-number,
.footer-li,
.footer-social {
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-top: 15px;
}
.contact-us {
    color: #F46632;
    font-family: 'Roboto', sans-serif;
}
.footer-mail,
.footer-submit {
    max-width: 300px;
    width: 100%;
    height: 50px;
}
.footer-social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 30px;
}
/* progrmas-section */
.programs-section1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-color: rgb(5, 5, 68);
    border-radius: 30px;
    max-width: 1500px;
    width: 100%;
    height: auto;
    margin: 70px auto;
}
.programsP{
    max-width: 700px;
    width: 100%;
    height: auto;
    background-color: rgb(5, 5, 90);
    border-radius: 40px;
    padding: 20px;
}
.design-photo {
    max-width: 700px;
    width: 100%;
    height: auto;
    margin-top: 20x;
}
.classes-main-block {
    width: 100%;
    height: 100%;
    margin-top: 50px;
}
.session {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: black;
    width: 100%;
    height: auto;
    padding: 20px;
}
.photo-and-paragraph {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 10px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 80px;        
}
.session-paragraph {
    max-width: 885px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    line-height: 2;
    margin: auto;
    color: white;
    padding: 20px;
}
.session-masters-photos {
    border-radius: 30px;
    max-width: 200px;
    width: 100%;
    height: 200px;
    margin-bottom: 80px;
}
.dates,
.title2 {
    color: white;
    font-family: 'Roboto', sans-serif;
}
.lottieProgr {
    max-width: 500px;
    width: 100%;
    height: 500px;
}
.sessionReg {
    margin-right: 30px;
}
.programCarousel {
    max-width: 800px;
    width: 100%;
    height: auto;
    margin: 50px auto;
}
/* portfolio */
.portfolio-main-block {
    margin-top: 212px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.title1 {
    font-size: 40px;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}
.nav-li {
    font-size: 22px;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 50px;
}
.works {
    color: #3D37F1;
}
.portf-list {
    margin-top: 90px;
    max-width: 300px;
    width: 100%;
    height: auto;
}
.works-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1000px;
    width: 100%;
    height: auto;
}
.work-design {
    margin-bottom: 20px;
}
.templates {
    border-radius: 20px;
}
.our-success {
    flex-wrap: wrap;
}
.success-titles {
    margin: 50px auto;
}
.success {
    max-width: 185px;
    width: 100%;
    height: 185px;
    background-color: #3D37F1;
    border-radius: 45px;
    padding: 70px 50px;
}
.portf-three-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.success2 {
    background-color: #A8162C;
}
.success3 {
    background-color: #BC580E;
}
.ourSuccess {
    margin-left: 20px;
}
.portMarg {
    margin-top: 20px;
    margin-bottom: 20px;
}